@media screen and (max-height: 667px) {
  /* 占い結果のモーダルウィンドウの高さ指定 */
  .tarot-result .modal {
    height: 150vh;
  }

  /* 占いのページのモーダルウィンドウの高さ指定 */
  .modal-content {
    margin: 20px auto;
  }

  /* 占いのページのボタンの位置 */
  .button_area {
    bottom: 5px;
  }
  /* 占いのページのカードディスプレイの位置 */
  .card-display {
    margin-top: 80px;
  }
}

@media screen and (min-width: 450px) {
  /* メインページ */
  .main {
    background-image: url(../img/main画像PC.jpg);
    background-size: 100%;
  }

  /* メインページ　ここまで */

  /* タロット占い画面の設定　ここから */

  .tarot-main {
    background-image: url(../img/app背景画像PC.jpg);
    background-position: right; /* 画像の位置を中央に */
  }

  .tarot-button {
    left: 100px;
    width: 100%;
    justify-content: left;
  }

  #tarot-button1 {
    width: 150px;
  }

  #tarot-button2 {
    width: 150px;
  }

  /* 占い結果の設定　ここから */

  .tarot-result {
    background-image: url(../img/占い結果背景画像PC.jpg);
    background-size: 100% 100%;
  }

  #neko {
    width: 100px;
    bottom: 0px;
    left: 100px;
  }

  .tarot-result .modal-content,
  .tarot-result .modal {
    background-color: transparent;
  }
}

@media screen and (min-width: 700px) {
  .tarot-button {
    left: 300px;
  }
}
