/* 共通の設定　ここから */

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: "Noto Serif JP", serif;
}

/* 共通の設定　ここまで */

/* タロットページの設定　ここから*/

h1 {
  margin-top: 50px;
}
.tarot {
  margin-left: auto;
  margin-right: auto;
}

.shuffleButton {
  margin-top: 10px;
}

.tarot-page {
  display: none;
  flex-direction: column;
  /* justify-content: center; 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width: 100vw; /*横幅を画面全体に*/
  height: 100vh; /*縦幅を画面全体に*/
  color: #f0f0f0;
}

/* シャッフルカードの動き調整 */
.card-display {
  position: relative;
  width: 100px; /* 表示領域の幅 */
  height: 150px; /* 表示領域の高さ */
  margin: 0 auto; /* 中央に配置 */
  margin-top: 150px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100px; /* カードの幅 */
  height: 150px; /* カードの高さ */
  z-index: 1;
  transition: transform 0.6s ease-in-out;
  perspective: 1000px; /* 3D回転のためのパースペクティブを適用 */
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

/* カーソルを置いたカード */
.card:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

/* クリックしたカード */
.bundle-clicked {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden; /* 背面が見えないようにする */
  transform: scale(-1, 1);
}

.card.flipped {
  transform: rotateY(180deg); /* カードをめくった時の状態 */
}

/* カードの説明を表示するためのクラス */
.card-description {
  margin-top: 20px;
  font-size: 12px;
  color: #f0f0f0;
  display: none; /* 初期状態は非表示 */
  position: relative;
  width: 250px;
}

.card-description p {
  margin: 0;
  margin-top: 20px;
}

.meaning,
.keyword {
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}

.description {
  /* margin-top: 5px; */
  padding: 15px;
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  line-height: 1.8;
}

#description1 {
  background: rgba(243, 255, 5, 0.5);
}

#description2 {
  background: rgba(255, 30, 109, 0.5);
}

.message1,
.message2 {
  display: none;
  margin-top: 50px;
}

/* タロットページの設定　ここまで */

/* トップページの設定　ここから */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 縦方向の中央揃え */
  text-align: left;
  width: 300px;
  color: #f0f0f0;
}

.title {
  display: flex;
  flex-direction: column;
}

.name-input {
  font-size: 14px;
  width: 200px;
  height: 30px;
}
.start-button {
  /* width: 50px; */
  margin-top: 5px;
  margin-left: auto;
  padding: 0px 10px;

  /* cursor: pointer; */
}

/* トップページの設定　ここまで */

/* セリフ画面の設定　ここから */

.main {
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url(../img/34_R_Tarot画像.jpg);
  background-size: cover; /* 画像を画面全体に表示する */
  background-position: center; /* 画像の位置を中央に */
  background-repeat: no-repeat; /* 繰り返さない */

  position: relative;
}
.dialogue-box {
  width: 300px;
  font-size: 12px;
  color: #f0f0f0;
  line-height: 1.8;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 10px;
  text-align: right;
  display: none;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(70, 70, 70, 0.5)
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 40px;
}

.dialogue-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.katenname {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  top: 15px;
  left: -50px;
  width: 150px;
  text-align: right;
  padding: 2px;
  padding-right: 40px;
  clear: #f0f0f0;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1em;
  background-color: black;
  animation: blink 0.9s step-end infinite;
}
@keyframes blink {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: black;
  }
}

.tarot-button {
  display: none;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  /* left: 50%; */
  transform: translate(0%, -100%);
  width: 200px;
  justify-content: center;
  color: #f0f0f0;
}

#tarot-button1 {
  padding: 10px;
  margin-right: 10px;
  background-color: #044b74;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#tarot-button1:hover {
  opacity: 0.5;
}

#tarot-button2 {
  padding: 10px;

  background-color: deeppink;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#tarot-button2:hover {
  opacity: 0.5;
}

/* セリフ画面の設定　ここまで */

/* 星空背景の設定　ここから */
/* 星空の背景のスタイル */
.stars {
  position: relative;
  width: 100%; /* 星空の横幅 */
  height: 100vh; /* 星空の縦幅 */
  background-image: linear-gradient(
    0deg,
    #00dedc,
    #044b74,
    #080f1c
  ); /* 星空の背景色 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
/* 星空背景の設定　ここまで */

/* モーダル用の設定 　ここから*/
.modal {
  display: none; /* デフォルトは非表示 */
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 背景の黒 */
  font-size: 12px;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

#downloadModal {
  display: none;
}

#confirmDownload,
#cancelDownload {
  width: 60px;
  padding: 5px 5px;
  margin: 10px;
  cursor: pointer;
}

#showModalButton {
  display: none;
  background: #f0f0f0;
  color: #080f1c;
  border-radius: 10px;
  position: fixed;
  /* height: 50px; */
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  padding: 10px 10px;
  cursor: pointer;
}

#modalImage {
  max-width: 100%;
  height: auto;
}

/* モーダル用の設定　ここまで */
