@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

/* 共通 */
body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP";
}

form {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"],
textarea {
  width: 250px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 15px;
}

button[type="submit"] {
  width: 100px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0.8rem;
  font-size: 14px;
}

/* 共通　ここまで */

/* トップページ */
.top {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 300px;
  font-size: 50px;
  font-family: "Dela Gothic One", sans-serif;
  color: #b09eaf;
  text-align: center;
}

.top img {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.start-button:hover {
  background-color: #b09eaf;
}

.blog {
  position: absolute;
  bottom: 20px;
  left: 15px;
  margin: 10px;
  font-size: 11px;
  color: #000;
  text-align: center;
}

.blog img {
  width: 120px;
}

.blog img:hover {
  opacity: 0.5;
}

.blog p {
  bottom: 0;
  left: 0;
}

/* トップページ　ここまで */

/* メインページ */

.main {
  background-image: url("../img/main画像.jpg"),
    linear-gradient(to bottom, #f8f8f8, #ffffff);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.login-button-area {
  height: 150px;
  display: flex;
}
.login-button-area button {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 50px;
  border: 5px solid #ddde51;
  border-top: 0px;
  background-color: #373333;
  color: #ffffff;
  padding: 0.8rem;
  padding-top: 25px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;
}

.login-button-area button:hover {
  opacity: 0.8;
}

.dialogue-box {
  height: 500px;
}

.main img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* メインページ　ここまで */
/*  */
/* タロット占い画面の設定　ここから */

.tarot-main {
  background-image: url(../img/main画像.jpg),
    linear-gradient(to bottom, #f8f8f8, #ffffff);
  background-size: 100%;
  background-repeat: no-repeat; /* 繰り返さない */
  position: relative;
  top: 0px;
  display: block;
  width: 100%;
  height: 100%;
}
.tarot-text-box {
  width: 330px;
  font-size: 12px;
  color: #f0f0f0;
  line-height: 1.8;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 10px;
  text-align: right;
  display: block;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(70, 70, 70, 0.5)
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 40px;
  z-index: 10;
}

.tarot-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.katenname {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  top: 15px;
  left: -50px;
  width: 150px;
  text-align: right;
  padding: 2px;
  padding-right: 40px;
  clear: #f0f0f0;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1em;
  background-color: black;
  animation: blink 0.9s step-end infinite;
}
@keyframes blink {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: black;
  }
}

.tarot-button {
  display: flex;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /* left: 50%; */
  /* transform: translate(0%, -100%); */
  width: 200px;
  justify-content: center;
  color: #f0f0f0;
  z-index: 10;
}

#tarot-button1 img,
#tarot-button2 img {
  width: 80px;
  height: 187px;
  padding: 10px;
  margin-right: 10px;
}
#tarot-button1:hover,
#tarot-button2:hover {
  opacity: 0.5;
}

#katen-img {
  width: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* 少し下にずらしておく */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0); /* 元の位置に戻す */
}

/* タロット占い画面の設定　ここまで */

/* タロットページの設定　ここから*/

h1 {
  margin-top: 50px;
}
.tarot {
  margin-left: auto;
  margin-right: auto;
}

.shuffleButton {
  margin-top: 80px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(70, 70, 70, 0.5)
  );
  text-align: center;
}

.shuffleButton:hover {
  opacity: 0.5;
}

.tarot-page {
  display: none;
  flex-direction: column;
  /* justify-content: center; 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width: 100vw; /*横幅を画面全体に*/
  height: 100vh; /*縦幅を画面全体に*/
  color: #f0f0f0;
}

/* シャッフルカードの動き調整 */
.card-display {
  position: relative;
  width: 100px; /* 表示領域の幅 */
  height: 150px; /* 表示領域の高さ */
  margin: 0 auto; /* 中央に配置 */
  margin-top: 120px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100px; /* カードの幅 */
  height: 150px; /* カードの高さ */
  z-index: 1;
  transition: transform 0.6s ease-in-out;
  perspective: 1000px; /* 3D回転のためのパースペクティブを適用 */
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

/* カーソルを置いたカード */
.card:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* クリックしたカード */
.bundle-clicked {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden; /* 背面が見えないようにする */
  transform: scale(-1, 1);
}

.card.flipped {
  transform: rotateY(180deg); /* カードをめくった時の状態 */
}

/* カードの説明を表示するためのクラス */
.card-description {
  margin-top: 20px;
  font-size: 12px;
  color: #f0f0f0;
  display: none; /* 初期状態は非表示 */
  position: relative;
  width: 250px;
}

.card-description p {
  margin: 0;
  margin-top: 20px;
}

.meaning,
.keyword {
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  line-height: 1.8;

  letter-spacing: 2px;
}

.description {
  margin-top: 20px;
  padding: 20px;
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
}

#description1 {
  background: #fde4005b;
}

#description2 {
  background: #ff238d5d;
}

.message1,
.message2 {
  display: block;
  margin-top: 50px;
}

/* タロットページの設定　ここまで */

/* 星空背景の設定　ここから */
/* 星空の背景のスタイル */
.stars {
  position: relative;
  width: 100%; /* 星空の横幅 */
  height: 100%; /* 星空の縦幅 */
  background-image: linear-gradient(
    45deg,
    #080f1c,
    #044b74,
    #00dedc
  ); /* 星空の背景色 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
/* 星空背景の設定　ここまで */

/* モーダル用の設定 　ここから*/
.modal {
  display: none; /* デフォルトは非表示 */
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 背景の黒 */
  font-size: 12px;
}

.modal-content {
  background-color: white;
  margin: 80px auto;
  padding: 20px;
  width: 300px;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

#downloadModal {
  display: none;
}

#confirmDownload,
#cancelDownload {
  width: 60px;
  padding: 5px 5px;
  margin: 10px;
  cursor: pointer;
}

.button_area {
  display: flex;
  position: fixed;
  /* height: 50px; */
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  justify-content: space-evenly;
}

#showModalButton,
#index_to_button {
  display: none;
  background: #f0f0f0;
  color: #080f1c;
  border-radius: 10px;

  font-size: 14px;
  padding: 10px 10px;
  cursor: pointer;
}

#showModalButton:hover,
#index_to_button:hover {
  opacity: 0.8;
}
#modalImage {
  max-width: 100%;
  height: auto;
}

/* モーダル用の設定　ここまで */

/* ログイン等の設定　ここから */

.login h1 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 700;
}

.login form {
  width: 300px;
}

.login label {
  display: block;
  text-align: left;
}

.login input {
  width: 300px;
}

.login a {
  margin-bottom: 10px;
}

.login a:hover {
  text-decoration: underline;
  text-decoration-color: #b09eaf;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
}

.login button:hover {
  background-color: #b09eaf;
}

/* ログイン等の設定　ここまで */

/* 占い結果ページ　ここから */

.tarot-result {
  background-image: url(../img/占い結果背景画像.jpg);
  width: 100%;
  height: 100%;
  background-size: 100%;
  /* 画像を画面全体に表示する */
  background-position: bottom;
  background-repeat: no-repeat; /* 繰り返さない */
  background-color: #ffffff;
  background-attachment: fixed;
  font-size: 10px;
  color: #000;
  font-weight: 900;
}

.tarot-result::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明の白色で透過を調整 */
  z-index: 1;
}

.page {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
}

.tarot-result table {
  background-color: rgba(255, 255, 255, 0.8);
  border-collapse: separate; /* 必須 */
  border-spacing: 0; /* セル間のスペースを調整 */
  border-radius: 10px; /* 角を丸くする */
  overflow: hidden; /* 丸い角を反映するために必要 */
  /* border: 1px solid black; ボーダーの太さを3pxに設定 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tarot-result th {
  /* border: 1px solid black; ボーダーの太さを3pxに設定 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
}

.tarot-result td {
  /* border: 1px solid black; ボーダーの太さを3pxに設定 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  height: 150px;
  line-height: 1.5;
}

.tarot-result img {
  text-align: center;
  width: 80px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.tarot-result img:hover {
  opacity: 0.5;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.pagination.single-button {
  justify-content: flex-end;
}

.pagination a {
  background-color: #ffffff;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  line-height: 30px;
  text-align: center;
}

.pagination a:hover,
.return:hover {
  background-color: #00dedc;
}

.return {
  background-color: #ffffff;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
}

.created_at {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #ff4a68;
  text-align: center;
  margin: 10px;
  height: 150px;
  font-weight: 900;
  letter-spacing: 2px; /* 文字間を2px広げる */
}

.tarot_result_text {
  margin: 5px;
}

#neko {
  width: 50px;
  height: 90px;
  position: absolute;
  bottom: 0px;
  left: 50px;
}

.tarot-result .modal {
  display: none; /* デフォルトは非表示 */
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 背景の黒 */
  font-size: 12px;
}

.tarot-result .modal-content {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  width: 340px;
  height: 620px;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

#modal-tarot-image {
  width: 300px;
  height: 550px;
  margin: auto;
  display: block;
  cursor: unset;
}
#modal-tarot-image:hover {
  opacity: unset;
}

.close,
.delete {
  display: inline-block;
  width: 100px;
  background-color: #ffffff;
  width: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* border: #000 solid 1px; */
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

#confirmModal-content {
  margin: 300px auto;
  width: 250px;
  height: 100px;
  background-color: #ffffff;
}

#confirmModal-content p {
  color: red;
}

#confirmDelete,
#cancelDelete {
  width: 80px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#confirmDelete:hover,
#cancelDelete:hover {
  background-color: #00dedc;
}

/* 占い結果ページ　ここまで */

/* 以下、PCの設定 */

@media screen and (min-height: 750px) {
  #katen-img {
    width: 480px;
  }
}

@media screen and (max-height: 667px) {
  /* 占い結果のモーダルウィンドウの高さ指定 */
  .tarot-result .modal {
    height: 150vh;
  }

  /* 占いのページのモーダルウィンドウの高さ指定 */
  .modal-content {
    margin: 20px auto;
  }

  /* 占いのページのボタンの位置 */
  .button_area {
    bottom: 5px;
  }
  /* 占いのページのカードディスプレイの位置 */
  .card-display {
    margin-top: 80px;
  }
}

@media screen and (min-width: 450px) {
  /* メインページ */
  .main {
    background-image: url(../img/main画像PC.jpg);
    background-size: 100%;
  }

  /* メインページ　ここまで */

  /* タロット占い画面の設定　ここから */

  .tarot-main {
    background-image: url(../img/main画像PC.jpg);
  }

  #katen-img {
    width: 500px;
  }

  /* 占い結果の設定　ここから */

  .tarot-result {
    background-image: url(../img/占い結果背景画像PC.jpg);
    background-size: 100% 100%;
  }

  #neko {
    width: 100px;
    height: 180px;
    bottom: 0px;
    left: 100px;
  }

  .tarot-result .modal-content,
  .tarot-result .modal {
    background-color: transparent;
  }
}

@media screen and (min-width: 700px) {
  .tarot-button {
    top: 80%;
    left: 200px;
    transform: translate(0%, -100%);
    width: 100%;
    justify-content: left;
  }

  #tarot-button1 img,
  #tarot-button2 img {
    width: 150px;
    height: 370px;
  }
}
