# index.php をデフォルトのインデックスファイルに設定
DirectoryIndex index.php

# URLの書き換えを有効にする
RewriteEngine On

# 全てのリクエストをindex.phpにリダイレクトする
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]