@media screen and (min-width: 400px) {
  /* メインページ */
  .main {
    background-image: url(../img/main画像PC.jpg);
    background-size: 100%;
  }

  /* メインページ　ここまで */

  /* タロット占い画面の設定　ここから */

  .tarot-main {
    background-image: url(../img/app背景画像PC.jpg);
    background-position: right; /* 画像の位置を中央に */
  }
}
