@media screen and (min-width: 400px) {
  /* メインページ */
  .main {
    background-image: url(../img/main画像PC.jpg);
    background-size: 100%;
  }

  /* メインページ　ここまで */

  /* タロット占い画面の設定　ここから */

  .tarot-main {
    background-image: url(../img/app背景画像PC.jpg);
    background-position: right; /* 画像の位置を中央に */
  }

  .tarot-button {
    left: 100px;
    width: 100%;
    justify-content: left;
  }

  #tarot-button1 {
    width: 150px;
  }

  #tarot-button2 {
    width: 150px;
  }

  /* 占い結果の設定　ここから */

  .tarot-result {
    background-image: url(../img/占い結果背景画像PC.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .tarot-button {
    left: 300px;
  }
}
